@using BotDetect.Web.Mvc;
@{
    Layout = null;
    MvcCaptcha mvcCaptcha = SharePlat.Web.WebHelper.GetCaptcha("loginCaptcha", "CaptchaCodeTextBox",250,50);
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>用户登录 - SharePlat</title>
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
    <link href="/css/signin_bundle.css" type="text/css" rel="stylesheet" />
    <script src="/scripts/jquery.js"></script>
    <script src="/scripts/jsencrypt.min.js"></script>
    <script>
        var return_url;
        var ajax_url = '/UserOperation/SubLogin';
        var enable_captcha = false;
        var is_in_progress = false;

        function setFocus() {
            document.getElementById('input1').focus();
        }

        function check_enter(event) {
            if (event.keyCode == 13) {
                var target = event.target || event.srcElement;
                if (target.id == "input1") {
                    if (document.getElementById('input1').value == '') {
                        $('#tip_input1').html("请输入登录用户名");
                        return;
                    }
                    else if (document.getElementById('input2').value == '') {
                        document.getElementById("input2").focus();
                        return;
                    }
                }
                if (target.id == "input2") {
                    if (document.getElementById('input2').value == '') {
                        $('#tip_input2').html("请输入密码");
                        return;
                    }
                }
                signin_go();
            }
        }

        function signin_go() {
            if (is_in_progress) {
                return;
            }

            $('#tip_input1').html('');
            $('#tip_input2').html('');

            var input1 = $.trim($('#input1').val());
            if (!input1) {
                $('#tip_input1').html("请输入登录用户名");
                $('#input1').focus();
                return;
            }
            var input2 = $.trim($('#input2').val());
            if (!input2) {
                $('#tip_input2').html("请输入密码");
                $('#input2').focus();
                return;
            }

            $('#tip_btn').html('提交中...');
            var input1 = $('#input1').val();
            var input2 = $('#input2').val();
            var ajax_data = {
                input1: input1,
                input2: input2,
                //remember: $('#remember_me').prop('checked')
            };

            var captchaObj = $("#CaptchaCodeTextBox").get(0).Captcha;
            ajax_data.captchaId = captchaObj.Id;
            ajax_data.captchaInstanceId = captchaObj.InstanceId;
            ajax_data.captchaUserInput = $("#CaptchaCodeTextBox").val();

            is_in_progress = true;
            $.ajax({
                url: ajax_url,
                type: 'post',
                data: ajax_data,
                dataType: 'json',
                headers: {
                    'VerificationToken': 'n0NgkI2jVrV80bPec6m0E15pxDGyoMBG4WlpGOOOv7uknouMMNJks-UJV0zZ-am5n1WkMXYmGDT7OpldWg6YEWKzf_E1:dMJ-LIoDTmY2B3TEU4Jt_iDZS-x_90VgPROqSIqge_wWY6u29lW8pW2YHdICenlllTfR-aAGhVMehUCLoymtnlpE-1Q1'
                },
                success: function (data) {
                    if (data.Status == "ok") {
                        $('#tip_btn').html('登录成功，正在重定向...');
                        return_url = $('#returnUrl').val();
                        if (return_url.length <= 0) {
                            return_url = "/" + input1;
                        }
                        location.href = return_url;
                    } else {
                        $('#tip_btn').html(data.Msg);
                        is_in_progress = false;
                        captchaObj.ReloadImage();
                    }
                },
                error: function (xhr) {
                    is_in_progress = false;
                    $('#tip_btn').html('抱歉！出错！');
                }
            });
        }

        $(function () {
            $('#signin').bind('click', function () {
                signin_go();
            }).val('登 录');

        });
    </script>
</head>
<body onload="setFocus()">
    <input type="hidden" id="returnUrl" value="@ViewBag.ReturnUrl" />
    <div style="width: 100%;">
        <div align="center">
            <div id="Main">
                <noscript>
                    <div style="font-size: 15px; margin-bottom: 20px;">
                        您的浏览器未启用Javascript，无法进行登录。
                    </div>
                    <style>
                        form {
                            display: none;
                        }
                    </style>
                </noscript>
                <form method="post" onsubmit="return false;">
                    <div id="Heading">登录SharePlat - 分享你的知识</div>
                    <div class="block">
                        <label class="label-line">登录用户名@*(<a href="/GetUsername.aspx" tabindex="-1" class="tb_right">找回</a>)*@</label>
                        <input type="text" id="input1" value="wumiao" class="input-text" onkeydown="check_enter(event)" />
                        <span id="tip_input1" class="tip"></span>
                    </div>
                    <div class="block">
                        <label class="label-line">密码(<a href="/UserOperation/RequireResetPassword" tabindex="-1" class="tb_right">重置</a>)</label>
                        <input type="password" id="input2" value="111111" class="input-text" onkeydown="check_enter(event)" />
                        <span id="tip_input2" class="tip"></span>
                    </div>
                    <div class="block">
                        <label class="label-line">验证码</label>
                        <input type="text" id="CaptchaCodeTextBox" value="" class="input-text" onkeydown="check_enter(event)" />
                    </div>
                    <div class="block">
                        @Html.Captcha(mvcCaptcha)
                    </div>
                    @*<div class="block">
                            <input id="remember_me" type="checkbox" name="remember_me" onkeydown="check_enter(event)" /><label for="remember_me" onkeydown="check_enter(event)">下次自动登录</label>
                        </div>*@
                    <div class="block">
                        <input type="button" id="signin" class="button" value="加载中..." />
                        <span id="tip_btn" class="tip"></span>
                    </div>
                    <div class="block nav">
                        &raquo; <a href="/UserOperation/Register" title="注册成为PlatShare用户">立即注册</a><br />
                        &raquo; <a href="#">反馈问题</a>
                    </div>
                </form>
                <div style="clear: both" />
            </div>
        </div>
    </div>
</body>
</html>
