@using BotDetect.Web.Mvc;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    MvcCaptcha mvcCaptcha = SharePlat.Web.WebHelper.GetCaptcha("resetPasswordCaptcha", "CaptchaCodeTextBox",200,50);
}
@section style{
    <link href="/css/passport.css" rel="stylesheet" />
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
}

<div id="wrap">
    <div id="header">
        <div class="mainmenu">
            <ul id="navlist_main">
                <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li id="ctl00_header1_liLogin"><a href="/UserOperation/Login">登 录</a></li>
                <li><a id="ctl00_header1_hlRegister" href="/UserOperation/Register">注册</a></li>
                <li><a id="ctl00_header1_hlResetPassword" class="current" href="/UserOperation/RequireResetPassword">重置密码</a></li>
            </ul>
        </div>
    </div>


    <div id="sideleft">
        <h3 class="topic_title">重置密码</h3>
        <div class="main">
            <table class="post_context">
                <tr>
                    <td class="td_name">登录用户名：
                    </td>
                    <td>
                        <input name="ctl00$holderLeft$txt_userName" type="text" id="UserName" class="input_default" />&nbsp;
                    </td>
                    <td>
                        <div id="tip_userName"></div>
                    </td>
                </tr>
                <tr>
                    <td class="td_name">邮　　　箱：
                    </td>
                    <td>
                        <input name="ctl00$holderLeft$txt_email" type="text" id="Email" class="input_default" />
                    </td>
                    <td>
                        <div id="tip_email"></div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.Captcha(mvcCaptcha)</td>
                </tr>
                <tr>
                    <td class="td_name">验&nbsp;&nbsp;&nbsp;证&nbsp;&nbsp;&nbsp;码：</td>
                    <td>
                        <input name="CaptchaCodeTextBox" type="text" id="CaptchaCodeTextBox" class="input_default" />
                    </td>
                </tr>
            </table>
            <div class="submit_block">
                <input type="button" name="ctl00$holderLeft$btn_submit" value="提交" id="ctl00_holderLeft_btn_submit" class="btn_submit" />&nbsp;&nbsp;
            </div>
        </div>
    </div>
</div>

@section script{
    <script type="text/javascript">
        $(function () {
            $("#ctl00_holderLeft_btn_submit").click(function () {
                var userName = $("#UserName").val();
                var email = $("#Email").val();
                var captchaCode = $("#CaptchaCodeTextBox").val();
                var captchaObj = $("#CaptchaCodeTextBox").get(0).Captcha;
                var captchaId = captchaObj.Id;
                var instanceId = captchaObj.InstanceId;
                if (userName.length <= 0) {
                    alert("用户名不能为空");
                    return;
                }
                if (email.length <= 0) {
                    alert("邮箱不能为空");
                    return;
                }
                if (captchaCode.length <= 0) {
                    alert("验证码不能为空");
                    return;
                }

                //103@qq.com.cn
                var regx = /[0-9a-zA-Z._-]+@@[0-9a-zA-Z_-]+([.][a-zA-Z]+){1,2}/;
                if (!regx.test(email)) {
                    alert("邮箱地址格式不正确");
                    return;
                }

                //ajax请求
                $.ajax({
                    type: "POST",
                    url: "/UserOperation/SubmitRequireResetPassword",
                    data: { userName: userName, email: email, captchaCode: captchaCode, captchaId: captchaId, instanceId: instanceId },
                    success: function (data) {
                        if (data.Status == "ok") {
                            alert("提交重置密码请求成功,请登录邮箱点击链接重置密码.");
                            window.location.href = "/UserOperation/Login";
                        }
                        else {
                            captchaObj.ReloadImage();
                            alert(data.Msg);
                        }
                    }
                });
            });
        });
    </script>
}
