@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section style{
    <link href="/css/passport.css" rel="stylesheet" />
}

<input type="hidden" value="@ViewBag.Key" id="key" />
<div id="wrap">
    <div id="sideleft">
        <h3 class="topic_title">修改密码</h3>
        <div class="main">
            <table class="post_context">
                <tr>
                    <td class="td_name">输入新密码：
                    </td>
                    <td>
                        <input name="passwordOne" type="password" id="passwordOne" class="input_default" />&nbsp;
                    </td>
                </tr>
                <tr>
                    <td class="td_name">确认新密码：
                    </td>
                    <td>
                        <input name="passwordTwo" type="password" id="passwordTwo" class="input_default" />
                    </td>
                    <td><span id="msg"></span></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
            <div class="submit_block">
                <input type="button" name="ctl00$holderLeft$btn_submit" value="修改密码" id="ctl00_holderLeft_btn_submit" class="btn_submit" />&nbsp;&nbsp;
            </div>
        </div>
    </div>
</div>

@section script{
    <script type="text/javascript">
        var checkPassword = function () {
            var psw1 = $("#passwordOne").val();
            var psw2 = $("#passwordTwo").val();
            if (psw1 != psw2) {
                $("#msg").text("两次输入的密码不一致!");
            }
        }

        $(function () {
            $("#ctl00_holderLeft_btn_submit").click(function () {
                var psw1 = $("#passwordOne").val();
                var psw2 = $("#passwordTwo").val();
                var key = $("#key").val();
                if (psw1.length <= 0 || psw2.length <= 0) {
                    alert("密码不能为空");
                    return;
                }
                if (psw1 != psw2) {
                    alert("两次输入的密码不一致");
                    return;
                }

                $.ajax({
                    type: "POST",
                    url: "/UserOperation/SubmitResetPassword",
                    data: { password: psw1, key: key },
                    success: function (data) {
                        if (data.Status == "ok") {
                            alert("恭喜!密码重置成功");
                            window.location.href = "/UserOperation/Login";
                        }
                        else {
                            alert(data.Msg);
                        }
                    },
                    error: function () {
                        alert("通讯错误");
                    }
                });
            });
        })
    </script>
}

